;.editorconfig

root = true

[**.{js,json}]
indent_style = space
indent_size = 2
jslint_happy = true

[docker-compose.yml,docker-stack.yml,config.yaml]
indent_style = space
indent_size = 2

[**.{yml}]
indent_style = space
indent_size = 4
