# Merge this file into ~/.ssh/config or run `man ssh_config` for more info
Host 192.168.31.1
  HostKeyAlgorithms=+ssh-rsa
Host git.*
  ControlPath none
  TCPKeepAlive no
Host github.com
  ControlPath none
  TCPKeepAlive no
Host gitlab.com
  ControlPath none
  TCPKeepAlive no
Host *
  SendEnv LANG LC_*
  Compression yes
  #ControlMaster auto
  #ControlPath /tmp/ssh-%r@%h:%p
  #ControlPersist yes
  TCPKeepAlive yes
  ServerAliveInterval 5
  ServerAliveCountMax 1
  StrictHostKeyChecking ask
