# Merge this file into ~/.ssh/config or run `man ssh_config` for more info
 Host *
   SendEnv LANG LC_*
   Compression yes
   ControlMaster auto
   ControlPath /tmp/%r@%h:%p
   ControlPersist yes
   TCPKeepAlive yes
   IdentityFile ~/.ssh/id_rsa
